* {
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    background-color: black;
    padding: 1rem;
}

header{
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;

    background-color: black;

    gap: 1rem;
    padding: 0.6rem;

    position: sticky;
    top: 0px;
    z-index: 1;
}


.linkBall{
    align-self: center;
}

.imgball{
    height: 40px;
    animation: fadeInDown 2s;
}

.imgplanet{
    height: 200px;
}

.imgball:hover{
    transform: scale(1.2);
    transition: 1.4s;
}

.inDB{
    padding: 0.4rem;

    border: 2px solid orange;
    background-color:  rgb(54, 53, 53);
    color: white;
    font-size: bolder;

    animation: fadeInDown 2s;
}

.navDB{
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.ulDB{
    list-style: none;

    width: 100%;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    gap: 1rem;
    padding: 0;

    color: white;
    font-weight: bold;
    font-size: 16px;

    animation: fadeInUp 1s;
}

.itemNav {
    position: relative;
    padding: 0.6rem;
}

.itemNav:hover .ulNav {
    display: block;
    color: white;

    animation: flipInY 0.6s;;
    border: 2px solid rgb(54, 53, 53);

}

.ulNav {    
    position: absolute;
    top: -2px;
    left: 100%;

    display: none;
    list-style: none;
    padding: 0;

    background-color: black;

    z-index: 1;
}

.subitemNav {
    width: 150px;
    padding: 0.6rem;

    background-color: black;
}

.itemNav:hover,.subitemNav:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.subitemNav:active {
    background-color: white;
    color: black;
}

main {
    width: 80%;
    flex-grow: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.dbList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;
}

.dbCharacter{
    width: 32%;
    min-width: 360px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: space-evenly;

    gap: 1rem;
    padding: 0.6rem;

    border: 2px solid orange;
    background-color: rgb(54, 53, 53);

    animation: fadeInRight 1s;
}

p{
    font-weight: bold;
    color: white;
}

.characterName{
    padding: 0.2rem;
    text-align: center;

    color: orange;

}

.characterName:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 0px 10px 0px orange;
}

.imgCharacter{
    padding: 0.4rem;
    height: 180px;
    align-self: center;
}

.imgCharacter:hover{
    transition: 1s;
    transform: scale(1.2);
}

.boxnameimg{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}

.moreinfoBox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    gap: 0.8rem;
    padding: 0.2rem;

    font-size: 0.8rem;
    text-align: end;
}

.characterInfo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    background-color: black;

    animation: fadeInUp 1s;
    visibility: hidden;
    
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    bottom: 0px;
}

.characterDescription{
    width: 48%;

    font-size: 0.8rem;
}

.planetInfo{
    width: 48%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    font-size: 0.8rem;

    gap: 1rem;
}

.pageButtons{
    width: 100%;

    display: flex;
    justify-content: center;

    gap: 1rem;
    padding: 0.6rem;
}

.pageBut{
    padding: 0.4rem;
    margin-bottom: 1rem;
    background-color: orange;
    font-weight: bolder;
}

.pageBut:hover{
    background-color: white;
    transform: scale(1.1);
}

.pageBut:disabled{
    background-color: gray;
    color: white;
}

@media only screen and (max-width: 1200px) { 

    header{ 
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    
        padding: 1rem;
    }

    .ulDB{
        flex-flow: row wrap;
    }

    .ulNav{
        position: absolute;

        top: 100%;
        left: -1px;
    }
    
    .dbCharacter{
        animation: fadeInUp 1s;
    }

    .pFilter{
        width: 20%;
    
        background-color: orange;
        color: black;
    
        padding: 0.4rem;
        font-weight: bolder;
    }


}

@media only screen and (max-width: 600px) { 
    header{
        padding: 0.2rem;
    }

    .dbCharacter{
        width: 100%;
    }

    .itemNav{
        font-size: 0.8rem;
    }
}


