* {
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #101b27;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

header{
    width: 100%;
    padding: 1rem;

    background-color: #273849;
}

.tablero {
    width: 65%;
    max-width: 500px;
    height: 70%;

    border: 2px black solid;
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.fichero {
    width: 100%;
    height: 82%;

    border: 4px solid rgb(137, 30, 116);
    border-radius: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.columnas {
    width: 15%;
    height: 100%;

    background-color: #273849;
    padding: 0.2rem;

    border: 1px black solid;
    border-radius: 0.5rem;

    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
}

.columnas:hover {
    background-color: #9f9ed1;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #9f9ed1;

    transition: 0.5s;
}

.jugadores {
    padding: 0.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.jugador {
    border-radius: 1rem;
    background-color: black;
    padding: 1rem;

    font-size: 1rem;
    font-weight: bolder;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.jugar {
    font-size: 1.4rem;
    font-weight: 600;

    border: 2px rgb(137, 30, 116) solid;
    border-radius: 4rem;

    padding: 1rem;

    background-color: black;
    color: white;
}

.jugar:hover {
    border: 4px rgb(137, 30, 116) solid;
    background-color: white;
    color:rgb(137, 30, 116);
}

.jugar:active {
    background-color: black;
    color: white;
}

.alerta {
    animation: tada 1s;
}

.alerta2 {
    animation: jello 1s;
}

.alerta3 {
    animation: flip 1.2s;
}

.fichas {
    width: 100%;
    height: 16%;

    border: 1px black solid;
    border-radius: 4rem;

    background-color: white;
}

.resaltado {
    border: 4px rgb(194, 43, 164) solid;
}

.caida {
    animation: bounceInUp 0.5s;
}

@keyframes slideInUp {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}

.retirada {
    animation: fadeOutDownBig 0.2s;
}

.deshacer {
    width: 20%;
    height: 60%;

    border: 2px #4843b7 solid;
    border-radius: 1rem;
    background-color: black;

    display: none;
}

.deshacer:hover {
    background-color: white;
    border: 2px black solid;
    transform: scale(1.1);
}

.undo {
    width: 2rem;
    height: 2rem;
}

.victoria {
    width: 60%;
    height: 20%;

    position: absolute;
    z-index: 1;
    visibility: hidden;

    border: 4px rgb(137, 30, 116) solid;
    border-radius: 2rem;
    background-color: #273849;
    padding: 1rem;

    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .tablero {
        width: 100%;
        height: 45%;
    }

    .jugar {
        font-size: 1rem;
        font-weight: 600;
    
        padding: 0.8rem;
    }
}